<div style="margin-top: 5%;">
    <h2 class="d-flex justify-content-center">Change your Password</h2>
    <div class="card w-50 card-body" style="margin: auto;">
      <p class="font-italic">Please fill out the form to change your password</p>
      <hr>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <p class="font-weight-bold font-italic">Note*: You'll be logged out on successfull password change and you'll need to login again.</p>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Current Password*</label>
          <input class="form-control" type="password" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
          <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">Old Password is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label>New Password*</label>
          <input class="form-control" type="password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">New Password is required.</div>
            <div *ngIf="f.newPassword.errors.minlength">Password must be of at least 8 characters.</div>
            <div *ngIf="f.newPassword.errors.pattern">Password must contain any of the [! @ # $ %] special character and a number.</div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm New Password*</label>
          <input class="form-control" type="password" formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }">
          <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmNewPassword.errors.required">Confirm Password is required.</div>
            <div *ngIf="f.confirmNewPassword.errors.minlength">Password must be of at least 8 characters.</div>
            <div *ngIf="f.confirmNewPassword.errors.mustMatch">Your confirm password doesnot match with the entered password.</div>
            <div *ngIf="f.confirmNewPassword.errors.pattern">Password must contain any of the [! @ # $ %] special character and a number.</div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button [disabled]="loading" class="btn btn-outline-primary">Change Password</button>
        </div>
      </form>
    </div>
    <hr>
</div>
