<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' }}</span>
        </a>
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>{{ 'Profile' }}</span>
        </a>
        <a [routerLink]="['/trips']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-book" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Trips' }}</span>
        </a>
        <a [routerLink]="['/truck']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-truck" ></i>&nbsp;
            <span>{{ 'Trucks' }}</span>
        </a>
        <a [routerLink]="['/driver']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-id-badge" ></i>&nbsp;
            <span>{{ 'Drivers' }}</span>
        </a>
        <a [routerLink]="['/feedback']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-comments-o" aria-hidden="true"></i>&nbsp;
            <span>{{ 'Feedbacks' }}</span>
        </a>
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div> -->

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{UserName}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/profile']">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" [routerLink]="['/changepassword']">
                                <i class="fa fa-fw fa-gear"></i> {{ 'Change Password' }}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="logout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse' }}</span>
    </div>
</nav>
