.card .content {
    padding: 15px 15px 10px 15px;
}

.btn-icon {
    padding: 7px;
}
form { 
    position:relative; 
} 
form.lock::before {
    content:'';
    position:absolute;
    z-index:999;
    top:0;
    right:0;
    bottom:0;
    left:0;
}